<div class="color-{{color}}">
	<div class="section-gap"></div>
	<div class="project-container container direction-{{direction}}">
		<div class="project-content valign row">
			<div class="project-image center-align col m12 l7">
				<img class="responsive-img" src={{media}}/>
			</div>

			<div class="project-body col m12 l5">
				<div class="project-title">{{title}}</div>
				<div class="project-subtitle">{{subtitle}}</div>
				<div class="project-text-title">How it works</div>
				<div class="project-text">{{text}}</div>
			</div>
		</div>
		<div class="project-technologies center-align">
			{{#each technologies}}
			<img class="technology-img" src="{{this}}"/> {{/each}}
		</div>
		<div class="project-links center-align">
			{{#if applink}}
			<a href={{applink}} target="_blank">
				<button class="project-link btn deep-purple"> Launch App Site</button>
			</a>
			{{/if}} {{#if customerlink}}
			<a href={{customerlink}} target="_blank">
				<button class="project-link btn deep-purple"> Launch Customer Site</button>
			</a>
			{{/if}} {{#if github}}
			<a href={{github}} target="_blank">
				<button class="project-link btn deep-purple"> View on Github</button>
			</a>
			{{/if}}
		</div>
	</div>	
	<div class="section-gap"></div>
</div>